/*---------------------------------------Font Links*/

@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');


/* Regular Text and Nav */
/*
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
font-family: 'Ibarra Real Nova', serif;*/

@import url('https://fonts.googleapis.com/css?family=Amiri:400,700&display=swap');
/*font-family: 'Amiri', serif;



/* Big Headings */

/*
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
font-family: 'Fredericka the Great', cursive;
*/

body {
    font-family: 'Amiri', serif;
    
}
 
.navbar a {
    font-family: 'Tangerine', cursive;
    font: 50px;

}
/*---------------------------------------Colours*/
.bg-color-navbar {
    background-color: rgb(24, 48, 22);
}

.bg-color-footer {
    background-color: rgb(56, 23, 15)
}

.navbar a {
    color:#fafafa;
}

.navbar-toggler {
    color: pink;
}

footer, footer a {
    color: #f1d578;
}

/*---------------------------------------Special Margins, Texts, Paddings*/


/*---------------------------------------Headings*/
.logo {
    background: url(".../images/logo.jpg");
}

.navbar {
    height: 150px;
}

/*---------------------------------------Parallax*/
.parallax {
    min-height: 500px;
    background: transparent;
}

.info {
    min-height: 500px;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    position: relative;
}
/*---------------------------------------Footer*/
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center; 
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
    font: 50px;
}


