/*---------------------------------------Font Links*/



/*---------------------------------------Colours*/
.bg-color-navbar {
    background-color: green;
}

/*---------------------------------------Special Margins, Texts, Paddings*/


/*---------------------------------------Headings*/
.logo {
    background: url(".../images/logo.jpg");
}

.navbar {
    height: 150px;
}

/*---------------------------------------Parallax*/
.parallax {
    min-height: 500px;
    background: transparent;
}

/*---------------------------------------Footer*/


