/*---------------------------------------Font Links*/
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,2000,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri:400,700&display=swap');
/*font-family: 'Amiri', serif;

/*
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
font-family: 'Fredericka the Great', cursive;
*/


body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: rgb(243, 223, 172);
}

 

/*---------------------------------------Colours*/

nav {
    display: table;
    background-color: rgb(24, 48, 22);
}

.navbar-dark .navbar-brand {
    color: rgb(255, 242, 210);
}


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgb(24, 48, 22);
    z-index:6;
}

.navbar-brand .logo-image {
    height: 60px;
    width: 60px;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #f1d578e8;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 242, 210,.75);
}

.brand-name {
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 7px;
    font-family: 'Tangerine', cursive;
    font-size: 37px;
    padding: 0;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

.brand-name .sm-brand-name {
    font-size: 32px;
    text-shadow: 1px 1px 3px black;
}

.navbar .navbar-toggler {
    color: #f1d578e8;
    border-radius: 0.1rem;
    text-shadow: 1px 1px 2px rgb(20, 43, 18);
}

.navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(20, 43, 18);
    z-index: 6;
}

#navbarNavDropdown{
    background-color: rgb(24, 48, 22);
}

#navoverdrop{
    z-index: 6;
}
.dropdown-menu {
   background-color: rgb(24, 48, 22);
   border: none;
}

.dropdown-item {
    color: #f1d578e8;
    z-index: 5;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(255, 242, 210);
    text-decoration: none;
    background-color: rgb(24, 48, 22);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(255, 242, 210);
    text-shadow: 1px 1px 2px rgb(20, 43, 18);
}

/*---------------------------------------Headings*/



.logo {
    background: url(".../images/NN-Version-2---rbg243-223-172");
}


nav button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(243, 223, 172);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



/*---------------------------------------Parallax*/
.parallax-container {
    padding: 0px;
}
.parallax {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 500px;
    background: transparent;
}

.info {
    min-height: 500px;
    z-index: 2;
    background-color: rgba(0,0,0,0.25);
    position: relative;
}

.info2 {
    min-height: 500px;
    z-index: 2;
    background-color: rgba(0,0,0,0.15);
    position: relative;
}

.jumbotron {
    background-color: transparent;
    color: rgb(255, 242, 210);
    font-weight: 300;
    text-shadow: 2px 2px 5px black; 
    margin-bottom: 0px;
}
 
h1{
    font-weight: 400;
    line-height: 1.5em;
    padding-right: 10px;
}

.features i{
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 45px;
    text-align: center;
    color: rgb(129, 77, 28);
    /*color: rgb(24, 48, 22);*/
}

.feature-first-row {
    background-color: rgb(255, 242, 210);
    padding-top: 20px;
}

.feature-section {
    width: 80%;
    background-color: rgb(255, 242, 210);
    }

@media (min-width: 992px) {
.feature-section{
    max-width: 50%;
}
}


.feature-section h2{
    color: rgb(80, 42, 7);
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.feature-section p{
    color: rgb(80, 42, 7);
    font-size: 1.0rem;
    font-weight: 500;
}

.feature-title{
    font-family: 'Tangerine', cursive;
    color: rgb(80, 42, 7);
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: bolder;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.feature-list{
    font-weight: 400;
    margin-left: 40px;
    color: rgb(80, 42, 7);
    padding-bottom: 5px;

}

.feature-list li{
    margin-bottom: 10px;
    margin-right: 30px;
}

@media (min-width: 768px) {
.feature-list{
    margin-left: 60px;
}
}

@media (min-width: 992px) {
.feature-list{
    margin-left: 80px;
}
}


.features .read-more-btn{
    text-align: center;
}

.btn-light {
    color: rgb(255, 242, 210);
    background-color: rgb(129, 77, 28, 0.6);
    border: none;
    margin-bottom: 20px;
    
}
.btn-light:hover {
    color: rgb(129, 77, 28, 0.6);
    background-color: rgb(129, 77, 28, 0.2);
    border-color: rgb(129, 77, 28, 0.6);
}


.info
p {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn--jum {
    text-shadow: 1px 1px 1px rgb(24, 48, 22); 
    background: linear-gradient(#3b8628, #193b0c);
    background-color: #377a1a;
    box-shadow: inset 0 1px 1px #7ebb64;
    border-color: #2b4e1a #274916 #112405;
}

.paper {
    background-color: rgb(243, 223, 172);
}

.feature-section-hr {
    text-align: center;
    width: 50%;
    height: 1px;
    background-color: rgba(46, 95, 42, 0.808);
    margin-bottom: 30px;
    padding-top: 0px;
    border-top: 1px;
}

.feature-section-p{
    margin-bottom: 30px;
}
/*---------------------------------------Contact*/

.contact-details i{
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: rgb(129, 77, 28);
    /*color: rgb(24, 48, 22);*/
}

.contact-details2 i{
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: rgb(129, 77, 28);
}


.contact-details-title{
    font-family: 'Tangerine', cursive;
    color: rgb(80, 42, 7);
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: bolder;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.contact-details-list{
    text-align: left;
    list-style-type:none;
    font-weight: 500;
    margin-left: 40px;
    color: rgb(80, 42, 7);
    padding-bottom: 5px;
    font-size: 1.1rem;
    padding-left: 10px;

}

.contact-details-list li{
    margin-bottom: 5px;
    margin-right: 30px;
}

.contact-adline {
    font-weight: 400;
}

@media (min-width: 768px) {
.contact-details-list{
    margin-left: 60px;
}
}

@media (min-width: 992px) {
.contact-details-list{
    margin-left: 80px;
}
}

.contact-line i{
    padding-right: 7px;
    color: rgb(80, 42, 7);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.form-container{
    text-align: left;
    color: rgb(255, 242, 210);
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
    font-size: 1.1rem;
    margin-bottom: 4px;
    width: 80%
}

.contact-title{
    margin-top: 30px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(129, 77, 28);
    background-color: rgb(255, 242, 210, 0.8);
    background-clip: padding-box;
    border: 1px solid rgb(255, 242, 210, 0.3);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: .2rem;
}

.form-control::-webkit-input-placeholder {
  color: rgb(129, 77, 28, 0.65);
}

.btn--con {
    margin-top: 15px;
    margin-bottom: 30px;
    color: #f1d578;
    text-shadow: 1px 1px 1px rgb(24, 48, 22); 
    background: linear-gradient(#1d5010, #0f2706);
    background-color: #1c440b;
    box-shadow: inset 0 1px 1px #436e30;
    border-color: #274716 #224212 #112405;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 18px;
    font-weight: 700px;
}

.btn--con:hover {
    color: #fff;
;
}

.contact-details2{
    background-color: rgb(255, 242, 210);
}


.form-container2{
    text-align: left;
    color: rgb(29, 83, 25);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 4px;
    width: 80%
}

.contact-title2{
    margin-top: 30px;
    color: rgb(129, 77, 28);
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(129, 77, 28);
    background-color: rgb(255, 242, 210, 0.8);
    background-clip: padding-box;
    border: 0.5px solid rgb(129, 77, 28);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: .2rem;
}

.form-control::-webkit-input-placeholder {
  color: rgb(129, 77, 28, 0.4);
}

/*---------------------------------------FAQ*/

.faqh1 {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: ;
    margin-top: 50px;
}

.faqh1hyp{
    font-size: 45px;
}

.faqh1ser{
}

.faq-feature-section {
    width: 90%;
    background-color: rgb(255, 242, 210);
    }

@media (min-width: 992px) {
.faq-feature-section{
    max-width: 65%;
}
}


.faq-feature-section h2{
    color: rgb(80, 42, 7);
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.faq-feature-section p{
    color: rgb(80, 42, 7);
    font-size: 1.0rem;
    font-weight: 500;
}

.faqcard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: .25rem; */
}

.faq-btn-link {
    font-weight: 500;
    color: rgb(29, 83, 25);
    text-decoration: none;
    font-size: 1.15rem;
    text-align: left;

}

.btn:hover {
    color: rgb(129, 77, 28);
    text-decoration: none;
}

.faqcard-header {
    padding: .3rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(129, 77, 28, .05);
    border-bottom: 1px solid rgb(129, 77, 28, .2);
}

.faqcard-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.faqcard-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-size: 1.1rem;
}

#accordion {
    margin-bottom: 30px;

}

#faqhpnocollapse {
    z-index:-3;
}

/*---------------------------------------FAQ-Services*/
.services-sm {
    font-family: 'Tangerine', cursive;
    background-color: transparent;
    color: rgb(255, 242, 210);
    font-weight: 300;
    text-shadow: 2px 2px 5px black; 
    margin-bottom: 0px;
}

.services-md {
    font-family: 'Tangerine', cursive;
    background-color: transparent;
    color: rgb(255, 242, 210);
    font-weight: 300;
    text-shadow: 2px 2px 5px black; 
    margin-bottom: 0px;

}

.faqh2ser-sm {
    font-size: 100px;
    margin-top: 120px;
}

.faqh2ser-md {
    font-size: 120px;
    margin-top: 120px;
    text-align: left;
}

#faqhpnocollapse{
    z-index:1;
}

/*---------------------------------------Footer*/
.footer-quote {
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    padding: 0;
    line-height: 22px;
}

.footer-section-hr {
    text-align: center;
    width: 50%;
    height: 0.5px;
    background-color: #f1d578b0;
    margin-bottom: 30px;
    padding-top: 0px;
    border-top: 0px;
}

.footer-h5 {
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-detail-hr{
    width: 75%;
    background-color: #f1d578b0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
}

.footer-links {
    text-decoration: none;
}

.footer-detail-last{
    margin-bottom: 20px;
}

.services-links{
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 5px;
}

.services-links i{
    padding-right: 7px;
    color: #f1d578de;
    font-size: 15px;
}

.services-links a:hover {
    color: rgb(255, 242, 210);
    text-decoration: none;
}

#fa-award {
    padding-right: 11px;
}

.social-links {
    margin-left: 10px;
    padding-bottom: 15px;
}

.social-links li a i {
    margin-right: 5px;
    margin-top: 7px;
    width: 28px;
    height: 28px;
    padding-left: 7px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-top: 10px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center; 
    color: rgb(24, 48, 22);
    background: #f1d57888;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#fa-youtube {
    padding-left: 4px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-top: 10px;
}
.social-links li a i:hover {
    background: rgb(243, 223, 172);
}


footer, footer a {
    color: #f1d578;
}

.bg-color-footer {
    background-color: rgb(24, 48, 22);
}

.journey-items {
    font-size: 14px;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    position: relative;
    border-left: 1px solid;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 17px;
}

.journey-circle {
    z-index: 3;
    margin-top: 12px;
    margin-left: 17px;
    left: 11px;
    padding-top: 9px;
    width: 9px;
    height: 10px;
    display: inline-block;
    position: absolute;
    border-radius: 9px;
    background: #f1d578;
}

.journey-items:hover {
    color: rgb(255, 242, 210);
    text-decoration: none;
    border-left: 1px solid #f1d578;
}

.journey-circle-active {
    z-index: 4;
    margin-top: 11px;
    margin-left: 17px;
    left: 10px;
    padding-top: 10px;
    width: 11px;
    height: 11px;
    display: inline-block;
    position: absolute;
    border-radius: 11px;
    background: green;
}